aside{
    background-color: hsl(240, 100%, 5%);
    height: 34em;
    float: right;
    right: 9em;
    bottom: 20em;
    position: relative;
    width: 24em;
    color: white;
}

.aside-contents{
    padding: 2.4em;
}

.new-text{
    color: hsl(35, 77%, 62%);
    font-weight: 800;
}


