aside{
    background-color: hsl(240, 100%, 5%);
    height: 33em;
    float: right;
    right: 7em;
    bottom: 20em;
    position: relative;
    width: 23em;
    color: white;
}

.aside-contents{
    padding: 25px;
    top: 5px;
    position: relative;
}

.new-text{
    color: hsl(35, 77%, 62%);
    font-weight: 800;
}

p{
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}


/*=============================================
=            Responsiveness                   =
=============================================*/

@media screen and (min-width: 1440px){
aside{
    right: 11.3em;
}

}
