header{
    margin-left: 9em;
    margin-top: 4em;
    cursor: grab;
}


li{
    color: hsl(236, 13%, 42%);
    font-family: Inter;
    font-weight: 400;
    list-style-type: none;
    
}

ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 10em;
}



.header-logo{
    background-image: url(../assets/images/logo.svg);
    background-repeat: no-repeat;
    height: 90px;
    position: relative;
    right: 28em;
    text-indent: -9999999999px;
    width: 90px;
}

#header-links{
    flex-grow: 0.08;    
    position: relative;
    left: 4em;
}