body{
    padding: 0px;
    margin: 0px;
    background-color: hsl(36, 100%, 99%);
    font-family: Inter;
}



/*=============================================
=            Responsiveness                   =
=============================================*/

@media screen and (min-width: 414px) and (max-width: 687px) {
        body{
            overflow: hidden;
        }
}