li{
    list-style-type: none;
}

ul{
    color: red;
    display: flex;
}

nav{
    color: red;
    margin-top: 4em;
    margin-left: 5em;
}


.nav-logo{
    background-image: url(../assets/images/logo.svg);
    width: 90px;
    height: 90px;
    text-indent: -9999999999px;
    background-repeat: no-repeat;
}