
figure{
    display: flex;
    margin-left: 110px;
}

figure figcaption{
    width: max-content;
    margin-left: 20px;
}

figure figcaption h1{
    margin-top: -2px;
}

figure figcaption h2{
    font-size: 14px;

}

figure img{
    width: 6em;
    height: 90%;
}

nav{
    display: flex;
    margin: 10px;
}

.images-container-two{
    right: 130px;
    position: relative;
    /* margin: 44px; */
}

.images-container-three{
    right: 161px;
    position: relative;
}