figure{
    display: flex;
    margin-top: 50px;
    margin-left: 110px;
}

figure figcaption{
    width: max-content;
    margin-left: 20px;
}

figure figcaption h1{
    margin-top: -2px;
}

figure figcaption h2{
    font-weight: 700;
    font-size: 17px;

}

figure figcaption h2:hover{
    color: hsl(5, 85%, 63%);
}



figure img{
    width: 6em;
    height: 90%;
}

nav{
    display: flex;
    margin: 10px;
}

.images-container-two{
    right: 96px;
    position: relative;
    /* margin: 44px; */
}

.images-container-three{
    right: 180px;
    position: relative;
}